* {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-image: url("../imgs/gray.png");
}

.navbar {
  background-color:#e3f2fd;
}

a {
  color: black;
  text-align: right;
  margin: auto;
  float: right;
}

.active {
  background-color: salmon;
  color: black;
}

img {
  margin-right: 5px !important;
  width: 300px;
  
  
  
}

.leftcol {
  padding: 1em;float: left;
}
 
.rightcol {
  margin: auto;
  padding: 2em;
}

.active {
  background-color: grey;
}

.center {
  margin: auto;
  text-align: center;
}

.container {
  margin: 0;
  background-color: white;
  margin-top: 3em;
  margin-left: 2em;
}

.submitbutton {
  background-color: salmon;
  height: 6em;
  width: 8em;
  text-align: center;
  margin: auto;
}

.footer {
  margin-top: 0em;
  background-color: #e3f2fd;
  height: 3em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}